
html{
    height:100%;
}

body{
    background-image:url("../img/pixel_weave.jpg");
    list-style:none;
}

body h2{
    font-size:24px;
    margin-bottom:20px;
}

/*Login and Registration Styles*/
.wrapper{
    overflow:hidden;
    margin:0 auto;
    width:70%;
}

.wrapper .login{
    margin-top:200px;
    overflow:hidden;
}

.wrapper .login a{
    display:block;
    background-color:#008cba;
    color:#fff;
    text-decoration:none;
    text-align:center;
    line-height:40px;
    font-family:Helvetica;
    float:left;
    margin:0% 0% 0% 0%;
    height:40px;
    margin-right:1%;
    width:49%;
}

.wrapper .login form{
    width:50%;
    margin:0 auto;
    margin-top:50px;
}

.wrapper .login div{
    overflow:hidden;
    width:51%;
    margin:0 auto;
}

.wrapper .login #reg{
    width:100%;
}

.wrapper .login img{
    max-width:100%;
}

form input{
    width:100%;
    height:30px;
    margin:0 0 10px;
}
/*Login and Registration Styles end*/

/*Header and Nav Styles*/
.head{
    overflow:hidden;
    background-color:#141B33;
    background-image:url("../img/triangular.jpg");
}

.head .icon{
    width:289px;
    margin:1.66%;
    float:left;
}

.head .nav{
    margin-top:20px;
    float:right;
}

.head ul{
    float:left;
}

.head ul li{
    list-style:none;
    float:left;
}

.head ul li a{
    list-style:none;
}
/*Header and Nav Styles end*/

/*Ctegory Styles*/
.cat{
    margin-right:1.66%;
}

.cat a{
    display:block;
    width:141px;
    height:80px;
    float:left;
    text-align:center;
    line-height:40px;
    margin-left:20px;
    margin-bottom:20px;
}

.cat #primals{
    background-image:url("../img/GarudaT.png");
    background-size:100%;
}

.cat #fate{
    background-image:url("../img/fate.png");
    background-size:100%;
}

.cat #relic{
    background-image:url("../img/relic.png");
    background-size:100%;
}

.cat #craft{
    background-image:url("../img/craft.png");
    background-size:100%;
}

.cat #den{
    background-image:url("../img/wolf.png");
    background-size:100%;
}

.cat #raid{
    background-image:url("../img/IfritT.png");
    background-size:106%;
    background-repeat:no-repeat;
}
/*Ctegory Styles end*/


.thumb{
    float:left;
}

br{
    clear:both;
}

.row .category{
    color:#fff;
    background-color:#008cba;
    padding:20px;
}

.row .thumb{
    background-color:#ffffff;
    width:30%;
    margin:1.66%;
    outline:#008cba solid 2px;
    transition:all 0.5s;
}

.row .thumb:hover{
    color:#fff;
    background-color:#008cba;
}

.thumb div{
    padding:6px;
}

.thumb:hover div a{
    color:#fff;
}

body .row .button{
    margin:20px 0 0 0;
}

/*Event Styles*/

section .content{
    width:45%;
    margin:0 2% 0 0;
    float:left;
}

section .data{
    width:45%;
    float:left;
    padding:10px;
    margin:0 0 2% 0;
    outline:#008cba solid 2px;
}

/*End*/

/*Event Registration Styles*/

.wrapper .fDiv{
    background-color:#fff;
    margin:40px 0 0 0;
    padding:2px 10px 10px 10px;
}

.wrapper fieldset{
    background-color:#fff;
}

/*End*/

/*Profile Styles*/
.players{
    margin:1.66%;
}

.profile{
    padding-bottom:10px;
    border-bottom:2px solid #008cba;
    border-right:2px solid #008cba;
    margin:0 0 40px 0;
}

.profile a{
    float:right;
}

.profile h4, .profile h5{
    margin:0 0 0 0;
}

.profilePic{
    float:left;
    margin-right:10px;
}

/*End*/

/*Footer Sticky*/

.fake{
    height:40px;
    width:100%;
    margin-top:20px;
}

footer{
    position:fixed;
    left: 0;
    bottom: 0;
    text-align:center;;
    height:40px;
    width:100%;
    color:#fff;
    background-color:#141B33;
}

footer p{
    line-height:40px;
}

/*End*/


/*Media Querys*/

@media screen and (max-width: 1403px) {
    .cat{
        margin:0 auto;
        width:634px;
    }

}

@media screen and (max-width: 1403px) {
    .thumb{
        min-height:289px;
    }

}

@media screen and (max-width: 960px) {
    .row .thumb{
        width:46%;
    }

}

@media screen and (max-width: 900px) {
    section .content{
        width:100%;
        clear:left;
    }

    section .data{
        width:100%;
        clear:left;
    }

}

@media screen and (max-width: 781px) {
    .head .icon{
        clear:left;
        margin:1.66% 1.66% 1.66% 1.66%;
    }

}

@media screen and (max-width: 700px) {
    .cat{
    margin:0 auto;
    width:481px;
    }

    .row .thumb{
        clear:left;
        width:96%;
    }

}

@media screen and (max-width: 466px) {
    nav ul li .button{
        padding:2%;
    }

}