
body{
    background-image:url("../img/pixel_weave.jpg");
    list-style:none;
}

body h2{
    font-size:24px;
    margin-bottom:20px;
}

/*Login and Registration Styles*/
.wrapper{
    margin:0 auto;
    width:70%;
}

.wrapper .login{
    margin-top:200px;
}

.wrapper .login form{
    width:30%;
    margin-left:33%;
    margin-top:50px;
}

.wrapper .login div{
    margin-left:47%;
    margin-top:20px;
}

.wrapper .login img{
    max-width:100%;
}
/*Login and Registration Styles end*/

/*Header and Nav Styles*/
.head{
    overflow:hidden;
    background-color:#292D59;
    background-image:url("../img/triangular.jpg");
}

.head .icon{
    width:20%;
    margin-top:20px;
    float:left;
}

.head .nav{
    margin-top:20px;
    float:right;
}

.head ul{
    float:left;
}

.head ul li{
    list-style:none;
    float:left;
}

.head ul li a{
    list-style:none;
}
/*Header and Nav Styles end*/

.cat{
    margin:1.66%;
}



.icon{
    margin:1.66%;
}

.thumb{
    float:left;
}

br{
    clear:both;
}

.profilePic{
    float:left;
}

.row .category{
    color:#fff;
    background-color:#008cba;
    padding:20px;
}

.row .thumb{
    background-color:#ffffff;
    width:30%;
    margin:1.66%;
    outline:#008cba solid 2px;
    transition:all 0.5s;
}

.row .thumb:hover{
    background-color:#008cba;
}

#events .thumb div{
    padding:6px;
    color:#fff;
}

body .row .button{
    margin:20px 0 0 0;
}

.playerSlots{
    margin-right:100px;
    float:left;
}
