html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body{
    list-style:none;
}

.wrapper{
    margin:0px auto;
    width:70%;
}

.wrapper .login{
    margin-top:200px;
}

.wrapper .login form{
    margin-left:33%;
    margin-top:50px;
}

.wrapper .login img{
    max-width:100%;
}

.thumb{
    float:left;
}

br{
    clear:both;
}

.profilePic{
    float:left;
}

.row .category{
    color:#fff;
    background-color:#008cba;
    padding:20px;
}
